<div class="header-container" style="height:15vh;margin-top:2%;background-color:whitesmoke">
  <div fxLayout="column">
    <div fxLayoutAlign="center center">
      <div class="header-subcontainer" style="width:85vw;height:8vh;background-color:white">
          <div fxLayout="row" fxLayoutGap="2vw">
                <div class="burger-menu" style="width:5vw">
                  <button md-icon-button>
                    <md-icon>
                      <img style="width:100%;height:100%" src="assets/burger_menu.svg" alt=""/>
                    </md-icon>
                  </button>  
                </div>
                <div routerLink="/home" class="icon" style="width:10vw">
                  <button md-icon-button>
                    <md-icon>
                      <img style="width:200%;height:150%" src="assets/logo.png" alt=""/>
                    </md-icon>  
                  </button>  
                </div>
                <div class="input-search" style="width:40vw">
                  <input style="height:100%;width:100%;color: #606060;font-size:1rem;border:0;padding:0" type="text" placeholder="Search for products,brands and categories">
                </div>
                <div class="search-button" style="width:10vw">
                  <button style="width:100%;height:100%;background-color:#f17e0a;color:white;font-size:1rem;font-weight:700" md-raised-button>Search</button>
                </div>
                <div class="account-button">
                  <button style="width:100%;height:100%;font-size:.75rem;cursor:pointer;background-color:white;border:0" [mdMenuTriggerFor]="accountMenu">
                    <span>Your</span>
                    <span>Account</span>
                    <span>&#9660;</span>
                  </button>
                  <md-menu #accountMenu="mdMenu">
                  <button md-menu-item routerLink="/auth/login">Sign In</button>
                  <button md-menu-item routerLink="/auth/signup">Sign Up</button>
                </md-menu>
                </div>
                <div class="cart" style="width:5vw">
                  <button md-icon-button>
                      <md-icon>
                        <img style="width:100%;height:100%" src="assets/shopping_cart.svg" alt=""/>
                      </md-icon>
                  </button>    
                </div>
          </div>
      </div>
    </div>    
  </div>
</div>


